/* add your CSS here */
.h3 {

  margin-left: 10px;
  font-size: 18pt;
  font-family: sans-serif;

}

.center {
  dislay: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom: 3px;
}



.outer {
  width: 320px;
  height: flex;
  border:  2px solid grey;
  border-shadow: 5px 10px inset;

}


.inner {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  weight: flex;
  height: flex;
  padding: 7px;
  border: 1px solid grey;

}

ul{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
